<div class="container">
    <div class="card" style="width: 40rem; Margin:2em 0em 0em 20em">
        <form [formGroup]="myform" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="formGroupExampleInput">Book id</label>
          <input type="text" class="form-control" id="formGroupExampleInput" formControlName="book_id">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input type="text" class="form-control" id="formGroupExampleInput" formControlName="Title">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">ISBN</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="ISBN">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Publish-Date</label>
          <input type="Date" class="form-control" id="formGroupExampleInput2" formControlName="publish_date">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Edition</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="Edition">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Total-Page</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="TotalPage">
        </div>
       
        
      <div>
        <label>Author</label>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="Authors"   />
          </div>
        </div>
    
      <div class="form-group">
          <label for="formGroupExampleInput2">Upload-Book</label>
          <input type="file" class="form-control" id="customFile" formControlName="file"  />
      </div>
      
      <button type="submit" class="btn btn-primary" style="width: 20rem;Margin:2em 0em 0em 8em; ">Submit</button>
      </form>
        </div> 
    

</div>