


<div class="row">
  
    <div class="col-md-6">
        <h4>Book Detail</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
          <button type="button" class="btn btn-primary btn-lg">Download</button>
<div *ngIf="userService.isLogenIn() && !userService.isAdmain()">

          <form action="">
            <label for="exampleFormControlTextarea1" class="form-label">Leave a Comment</label>
            <textarea class="form-control mb-3" rows="3" cols="5"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
        </div>
    </div>
    <div class="col-md-6">
       
       
   <h4>Comments</h4>
          <ul class="list-group mt-3">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"><b>Ryan Haywood</b></div>
                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>

              </div>
            
            </li>
            
          </ul>
         
    </div>
</div>